.folio{
	margin:20px 0 20px 0;
}

.folio-item{
	margin: 0 0 60px 0;
    padding: 0 30px 0 30px;
}

.folio-item .folio-img-wrap{
	overflow: hidden;
	position: relative;
}

.folio-item img.folio-img{
	max-width: 100%;
    height: auto;
    transition: all 0.5s ease;
    opacity: 0.8;
}

.folio-overlay{
	background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.5s ease;
}

.project-title{
	text-align: center;
	position: relative;
	left:-100%;
	transition: all 0.5s ease;
}

.folio-item a{
	text-decoration:none;
}

.folio-item .folio-img-wrap a h2{
	color:white;
	/*text-transform: uppercase;*/
	font-size: 60px;
	font-family: "Diamor";
}

.folio-item .folio-img-wrap a h3{
	color:white;
}

.folio-item:hover .folio-img-wrap a.folio-overlay{
	background: rgba(0, 0, 0, 0.45);
	transition: all 0.5s ease;
}

.folio-item:hover .folio-img-wrap a.folio-overlay .project-title{
	left:0;
	transition: all 0.5s ease;
}

.folio-item:hover img{
	transform: scale(1.05);
	transition: all 0.5s ease;
}

.folio-item a.project-skills{
	position: absolute;
	top:100%;
	left:0;
	padding-top: 10px;
	padding-left: 20px
}

.folio-item a.project-skills:hover{
	color:black;
}

/* modal */
